# dependencies
/node_modules

# production
/dist
/docs

# Firebase cache
.firebase/

# Firebase config
.firebaserc
firebase.json

# misc
.idea
.awcache
.eslintcache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*

.cache
.tmp

# test
coverage
